.movie-row::-webkit-scrollbar {
  display: none;
}

.movie-row {
  -ms-overflow-style: none;
  scrollbar-width: none;

  mask-image: linear-gradient(
    to right,
    transparent,
    black 2%,
    black 98%,
    transparent
  );
}

.img-slider {
  object-fit: cover;
  height: 300px;
}

.img-slider {
  transition: transform 0.6s;
}

.img-slider:hover {
  transform: scale(1.2);
  z-index: 10;
  cursor: pointer;;
}
